* {
  font-family: Arial, Helvetica, sans-serif;
}
.sign-login-container {
  position: relative;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: clamp(300px, 350px, 400px);
  height: 550px;
  border: black solid 1px;
  border-radius: 10px;
  justify-content: space-around;
  margin: 5px;
  overflow: hidden;
}
.sign-login-container img {
  position: absolute;
  top: -190px;
  left: 315px;
}
.active {
  display: none;
}
.sign-up form,
.login form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  transition: 2s ease-in-out;
}
#chk {
  display: none;
}

.sign-login-container button {
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  height: 30px;
}

.sign-login-container input {
  width: 70%;
  height: 30px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 10px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  color:black;
}

.sign-login-container label {
  color: coral;
  font-size: var(--font-lm);
  justify-content: center;
  display: flex;
  margin: 60px;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.sign-login-container button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: coral;
  font-size: var(--font-ls);
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.sign-login-container button:hover {
  transform: scale(1.05);
}

.login {
  height: 460px;
  background: #eee;
  transform: translateY(-20px);
  transition: 0.8s ease-in-out;
}
.login label {
  color: coral;
  transform: scale(0.6);
}
#chk:checked ~ .login {
  transform: translateY(-350px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .sign-up label {
  transform: scale(0.5);
}

.dark-active {
  background-color: var(--bg-color-dark);
}
@media (max-width: 600px) {
  .sign-login-container button {
    font-size: var(--font-l);
  }
  .sign-login-container label {
    font-size: var(--font-ls);
  }
  .sign-login-container {
    border: none;
  }
}
