@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Univarsal Font */
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
}
:root {
  /* Font size */
  --font-ll: 42px;
  --font-lm: 32px;
  --font-ls: 24px;

  --font-l: 18px;
  --font-m: 16px;
  --font-s: 14px;

  --font-sl: 16px;
  --font-sm: 13px;
  --font-ss: 11px;

  /* Colors */
  --primary-color: #3a506b;
  --secondary-color: #5bc0be;

  /* Background color */
  --background-color: #f4f4f9;

  /* Button color */
  --button-color1: #3a506b;
  --button-color2: #ff8c42;

  /* Text color */
  --text-color: #0b132b;

  /* Dark Mode color*/
  --bg-color-light: #f4f4f9;
  --bg-color-dark: #222831;
  --text-color-light: #0b132b;
  --text-color-dark: #eeeeee;
  --button-bg-color: #76abae;
  --primary-accent-color: #31363f;
}

/* Utilities */

.primary-dark-active {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  width: 100vw;
  height: 100vh;
}

.secondry-dark-active {
  background-color: var(--primary-accent-color);
  color: var(--text-color-dark);
}
